@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

$main-color: #666666;
$secondary-color: #FFB600;
$base-color: #fff;
$bg-color: #E5E5E5;
$base-padding: 16px;
$secondary-padding: 24px;